section {
    height: 100%;
    background-color: black;
}
.section {
    justify-content: space-around;
    display: flex;
}
.image img{
    margin: 100px;
    margin-left: 200px;
    width: 500px;
}
.content{
    margin-top: 80px;
    margin-right: 80px;
}
.content h1{
    font-size: 60px;
    font-weight: 10px;
    font-family: sans-serif;
    color: white;
}
.p p {
    margin-top: 40px;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: white;
}
.content button {
    display: flex;
    justify-content: center;
    padding: 8px;
    width: 300px;
    border-radius: 20px;
    gap: 8px;
}
button img {
    margin-top: 3px;
    width: 20px;
}
.apple button {
    margin-top: 8px;
}
.btn button{
    background-color: blue;
    color: white;
    border-color: blue;
    border-radius: 20px;
}
.apple p {
    font-family: sans-serif;
    font-weight: bolder;
    color: white
}
.sign p {
    color: white;
    font-size: smaller;
    font-weight: lighter;
}
.all{
    margin-top: 50px;
}
.all h5{
    color: white;
}
.all button{
    background-color: black;
    color: blue;
    border-color: white;
}
@media screen and (max-width: 850px) {
    section {
        background-color: black;
    }
    .image img {
        width: 20%;
        margin: 5%;
    }
    .section {
        display: flex;
        flex-direction: column;
    }
    .content {
        margin: 5%;
    }
    .content h1{
        font-weight: 5%;
        color: white;
    }
    .p p {
        margin-top: 5%;
        font-family: sans-serif;
        font-weight: bolder;
        color: white;
    }
    
}