section{
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0;
}
.top img{
    margin-top: 15%;
    margin-left: 25%;

    width: 40%;
}
.join{

    margin: 5%;
}
.class {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.class h1{
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 70px;
    color: white;
}
.oi p {
    margin-top: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.class p{
    margin-left: 10px;
    font-family: sans-serif;
    color: white;
}
.button button{
    margin-left: 10px;
    width: 300px;
    border-radius: 20px;
    justify-content: center;
    gap: 10px;
}
.btn button {
    width: 300px;
    border-radius: 20px;
    justify-content: center;
    gap: 10px;
}
.bum button{
    margin-left: 10px;
    color: white;
    background-color: blue;
    padding: 5px;
    width: 300px;
    border-radius: 20px;
    border-color: blue;
    justify-content: center;
    gap: 10px;
}
.acc h4 {
    margin-left: 10px;
    color: white;
    font-size: medium;
}
.by p {
    margin-left: 10px;
    font-size: smaller;
}
.sign button {
    margin-top: 2%;
    margin-left: 10px;
    color: blue;
    background-color: black;
    padding: 5px;
    width: 300px;
    border-radius: 20px;
    border-color: white;
    justify-content: center;
    gap: 10px;
}
.p p{
    margin-left: 30px;
}
@media screen and (max-width:850px){
    .top img{
        width: 100%;
        height: 10%;
    }
    .join{
        margin-top: 20%;
        justify-content: left;
        align-items: start;
    }
    .class h1{
        margin-top: 6%;
        font-size: xx-large;
        color: white;
    }.sign button {
        color: blue;
        background-color: black;
        padding: 5px;
        width: 300px;
        border-radius: 20px;
        border-color: white;
        justify-content: center;
        gap: 10px;
    }
    .by p {
        font-size: smaller;
    }
    .acc h4 {
        color: white;
        font-size: medium;
    }
    .bum button{
        color: white;
        background-color: blue;
        padding: 2%;
        width: 300px;
        border-radius: 20px;
        border-color: blue;
        justify-content: center;
        gap: 10px;
    }

}